
{% extends 'base.html.twig' %}

{% block body %}
<h1 class="MainSign">
    Grades Portal - Banner
</h1>


<div>
    Student Name : {{ Name }}
    <br>
</div>


<div>
     University ID : {{ UID }}
    <br>
</div>

<div>
    Email ID : {{ EmailID }}
    <br>
</div>
<br>




<label> click here to see the grades : </label>
<a href="#">Grade</a>

<p>
    Author : Raj Shah Systems
</p>

{% endblock %}